@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Outfit:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  /* Pure Black */
  color: #fff;
}

::selection {
  background-color: #ff00ff;
  /* Hot Pink */
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bangers', system-ui;
  letter-spacing: 0.05em;
}